<section class="news-section">
  <div class="wrapper">
    <div class="title">
      <h3>{{ title }}</h3>
      <p *ngIf="subTitle != ''">{{ subTitle }}</p>
    </div>

    <ul class="posts row">
      <li class="post col-lg-4 col-md-12" *ngFor="let post of posts">
        <a [routerLink]="['/post', post.id]">
          <div class="image-container">
            <img [src]="post.imageNews" alt="" />
            <ul class="menu-post">
              <li>
                <span> <i class="bi bi-calendar3"></i> {{ post.date }}</span>
              </li>
              <li style="display: none">
                <span><i class="bi bi-dot" style="font-size: 20px"></i></span>
              </li>
              <li>
                <span
                  ><i class="bi bi-chat-square-text"></i> {{ post.comments
                  }}<span> Commentaire</span>
                </span>
              </li>
              <li style="display: none">
                <span><i class="bi bi-dot" style="font-size: 20px"></i></span>
              </li>
              <li>
                <span
                  ><i class="bi bi-eye"></i>{{ post.comments
                  }}<span> Vues </span></span
                >
              </li>
            </ul>
          </div>
          <h6>
            {{ post.title }}
          </h6>
          <p>
            {{ post.abstract }} <br />
            <span class="footer-post">{{ post.source }}</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
