<div class="choice-section">
  <h2>Pourquoi Choisir Access Aligner ?</h2>

  <div class="image-container">
    <img src="../../../assets/images/why.png" alt="" />
  </div>
  <div class="content-container">
    <h2>Pourquoi Choisir Access Aligner ?</h2>
    <div class="list-container">
      <ul>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Technologie de Pointe</h5>
        </li>

        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Résultats Prouvés</h5>
        </li>

        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Suivi Personnalisé</h5>
        </li>
      </ul>
      <ul>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Fabrication Locale</h5>
        </li>

        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Confort Optimisé</h5>
        </li>

        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Discrétion Assurée</h5>
        </li>
      </ul>
    </div>
  </div>
</div>
