<section class="about-section">
  <div class="row">
    <div class="title">
      <h3>À propos de nous</h3>
      <p>
        Access Aligner, votre allié de confiance pour obtenir le sourire de vos
        rêves, avec des solutions sur-mesure alliant confort, discrétion et
        efficacité.
      </p>
    </div>

    <div class="col-lg-5 col-sm-12">
      <div class="image-container">
        <img src="../../../assets/images/about.png" alt="" />
      </div>
    </div>
    <div class="col-lg-7 col-sm-12 content-container">
      <div class="title">
        <h3>À propos de nous</h3>
        <p>
          Access Aligner, votre allié de confiance pour obtenir le sourire de
          vos rêves, avec des solutions sur-mesure alliant confort, discrétion
          et efficacité.
        </p>
      </div>

      <ul>
        <li>
          <div class="title">
            <div class="icon">
              <div class="circle-cyan">
                <img src="../assets/images/icon/mission-solid.png" alt="" />
              </div>
            </div>

            <h5>Notre mission</h5>
          </div>
          <p>
            Chez Access Aligner, nous offrons des aligneurs invisibles sur
            mesure, alliant confort et efficacité. Notre mission : transformer
            votre sourire en toute discrétion.
          </p>
        </li>

        <li>
          <div class="title">
            <div class="icon">
              <div class="circle-cyan">
                <img src="../assets/images/icon/heart-solid.png" alt="" />
              </div>
            </div>
            <h5>Notre technologie</h5>
          </div>
          <p>
            Grâce à un scanner 3D de pointe et à la fabrication locale, nos
            aligneurs offrent une précision exceptionnelle et des résultats
            durables grâce à des matériaux de haute qualité.
          </p>
        </li>

        <li>
          <div class="title">
            <div class="icon">
              <div class="circle-cyan">
                <img src="../assets/images/icon/users-solid.png" alt="" />
              </div>
            </div>

            <h5>Nos valeurs</h5>
          </div>
          <p>
            <span>Innovation :</span> Nous repoussons les limites de
            l’orthodontie avec des solutions de pointe.<br />
            <span>Confiance :</span> Nous mettons un point d’honneur à offrir
            des traitements efficaces et adaptés à chaque besoin.<br />
            <span>Accessibilité :</span> Nous rendons les soins orthodontiques
            modernes et de qualité accessibles à tous.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
