<section class="feature-section row">
  <div class="col-lg-4 col-sm-12">
    <div class="feature">
      <div class="title">
        <app-eye></app-eye>
        <h5>Aligneurs 100% invisibles</h5>
      </div>
      <p>
        Optez pour des aligneurs transparents, clairs et intacts tout au long de
        votre traitement.
      </p>
      <br />
      <!-- <button class="button light-button">En savoir plus</button> -->
    </div>
  </div>

  <div class="col-lg-4 col-sm-12">
    <div class="feature">
      <div class="title">
        <app-flag></app-flag>
        <h5>Fabrication tunisienne avec technologie avancée</h5>
      </div>
      <p>
        Leur qualité exceptionnelle est certifiée ISO 13485-2016, une norme rare
        dans l'industrie des aligneurs transparents.
      </p>
      <!-- <button class="button light-button">En savoir plus</button> -->
    </div>
  </div>

  <div class="col-lg-4 col-sm-12">
    <div class="feature">
      <div class="title">
        <app-otak></app-otak>
        <h5>Confort et personnalisation garantis</h5>
      </div>
      <p>
        Chaque aligneur est fabriqué sur-mesure pour s'adapter parfaitement à la
        forme unique de vos dents.
      </p>
      <!-- <button class="button light-button">En savoir plus</button> -->
    </div>
  </div>
</section>
