<div class="smile-banner-section">
  <div class="row">
    <div class="col-lg-6 col-md-5 col-sm-12 title">
      <h1><span> Smile, </span> <br />I’m INVISIBLE !</h1>

      <button
        class="button light-button"
        onclick="location.href='mailto:contact&#64;accessaligner.com'"
      >
        Prendre rendez-vous
      </button>
    </div>
    <div class="col-lg-6 col-md-7 col-sm-12 image-container">
      <img src="../../../assets/images/teeth-3d.png" alt="" srcset="" />
    </div>
  </div>
</div>
