<div class="steps-section">
  <div class="title">
    <h1>Comment ça marche ?</h1>
    <p>Un traitement simple et efficace en 5 étapes</p>
  </div>
  <ul class="row">
    <li class="step col-lg-4 col-sm-12">
      <div class="step-num">
        <div class="icon">
          <div class="circle-cyan"><span>1.</span></div>
        </div>
        <h5>Première consultation</h5>
      </div>
      <p>
        Prenez rendez-vous avec un dentiste partenaire pour évaluer vos besoins
        et discuter les options.
      </p>
    </li>
    <li class="step col-lg-4 col-sm-12">
      <div class="step-num">
        <div class="icon">
          <div class="circle-cyan"><span>2.</span></div>
        </div>
        <h5>Scan et diagnostic</h5>
      </div>
      <p>
        Un scanner 3D capture avec précision votre dentition pour un diagnostic
        détaillé et personnalisé.
      </p>
    </li>
    <li class="step col-lg-4 col-sm-12">
      <div class="step-num">
        <div class="icon">
          <div class="circle-cyan"><span>3.</span></div>
        </div>
        <h5>Traitement Sur Mesure</h5>
      </div>
      <p>
        Nous vous présentons une simulation 3D pour visualiser l’évolution
        future de votre sourire.
      </p>
    </li>
  </ul>
  <ul class="row">
    <li class="step col-lg-6 col-md-6 col-sm-12">
      <div class="step-num">
        <div class="icon">
          <div class="circle-cyan"><span>4.</span></div>
        </div>
        <h5>Fabrication des aligneurs</h5>
      </div>
      <p>
        Les aligneurs sont fabriqués sur mesure, garantissant un ajustement
        parfait avec des matériaux de qualité.
      </p>
    </li>
    <li class="step col-lg-6 col-md-6 col-sm-12">
      <div class="step-num">
        <div class="icon">
          <div class="circle-cyan"><span>5.</span></div>
        </div>
        <h5>Suivi et ajustements</h5>
      </div>
      <p>
        Des consultations régulières permettent de suivre l’évolution du
        traitement et d'ajuster les aligneurs.
      </p>
    </li>
  </ul>
</div>
