<section class="testimonial-section">
  <div class="title">
    <h3>Ce que nos patients disent de nous</h3>
    <p>Découvrez les avis de nos patients</p>
  </div>
  <div class="container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-element">
          <div class="title">
            <img src="../assets/images/testimonial/user1.png" alt="" />
            <div class="name">
              <h6>Nizar B.</h6>
              <span>45 ans</span>
            </div>
          </div>
          <p>
            J'ai choisi AccessAligner pour corriger mes dents sans avoir à
            porter un appareil métallique. Le traitement a été rapide, discret,
            et les aligneurs étaient très confortables. Je recommande vivement !
          </p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="carousel-element">
          <div class="title">
            <img src="../assets/images/testimonial/user2.png" alt="" />
            <div class="name">
              <h6>Manar R.</h6>
              <span>28 ans</span>
            </div>
          </div>
          <p>
            AccessAligner m’a permis de retrouver un sourire que j’adore, sans
            inconfort ni compromis sur mon quotidien. J’ai vu des résultats en
            quelques mois seulement ! Merci AccessAligner !
          </p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="carousel-element">
          <div class="title">
            <img src="../assets/images/testimonial/user3.png" alt="" />
            <div class="name">
              <h6>Salma L.</h6>
              <span>32 ans</span>
            </div>
          </div>
          <p>
            Grâce à AccessAligner, j’ai corrigé mes dents de manière invisible.
            Le suivi a été parfait et les aligneurs étaient faciles à porter au
            quotidien. Je suis très satisfait des résultats.
          </p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="carousel-element">
          <div class="title">
            <img src="../assets/images/testimonial/user4.png" alt="" />
            <div class="name">
              <h6>Amal B.A</h6>
              <span>28 ans</span>
            </div>
          </div>
          <p>
            Je suis absolument ravie des gouttières Access Aligner ! J'ai
            retrouvé un sourire aligné et harmonieux sans subir les
            inconvénients des appareils traditionnels. Le processus est simple,
            discret et très confortable. Je recommande Access Aligner à tous
            ceux qui veulent transformer leur sourire avec élégance !
          </p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="carousel-element">
          <div class="title">
            <img src="../assets/images/testimonial/user6.png" alt="" />
            <div class="name">
              <h6>Karim J.</h6>
              <span>30 ans</span>
            </div>
          </div>
          <p>
            Grâce à leurs gouttières transparentes, mes dents se sont réalignées
            sans que personne ne remarque que je suivais un traitement. Mon
            dentiste a suivi mes progrès à chaque étape, et le résultat final
            est incroyable !
          </p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="carousel-element">
          <div class="title">
            <img src="../assets/images/testimonial/user5.png" alt="" />
            <div class="name">
              <h6>Sofia M.</h6>
              <span>24 ans</span>
            </div>
          </div>
          <p>
            Elles sont faciles à utiliser, quasiment invisibles et ne m'ont pas
            gênée dans ma vie quotidienne. En un an, mon sourire est devenu ma
            plus grande fierté. Merci .
          </p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
