<section class="cases-section">
  <div class="wrapper">
    <div class="title">
      <h3 class="col-lg-8 col-sm-12">Cas cliniques</h3>
      <p class="col-lg-4 col-sm-12">
        Des aligners invisibles adaptés à chaque patient grâce à Access Aligner
      </p>
    </div>
    <ul class="caces container row">
      <li class="col-lg-4 col-md-12">
        <img src="../assets/images/cases/element1.png" alt="" />
      </li>
      <li class="col-lg-4 col-md-12">
        <img src="../assets/images/cases/element2.png" alt="" />
      </li>
      <li class="col-lg-4 col-md-12">
        <img src="../assets/images/cases/element3.png" alt="" />
      </li>
    </ul>
  </div>

  <button class="button light-button">En savoir plus</button>
</section>
