<div class="solution-section">
  <h2>Des Solutions Orthodontiques Modernes et Accessibles</h2>
  <p>
    Access Aligner, la solution idéale pour un sourire parfait, offrant des
    aligneurs sur-mesure qui allient confort, discrétion et efficacité. Profitez
    d’un traitement personnalisé pour des résultats durables, sans compromettre
    votre quotidien.
  </p>
  <ul class="row">
    <li class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon">
        <div class="circle-cyan">
          <img src="../../../assets/images/icon/mission-solid.png" alt="" />
        </div>
      </div>
      <div class="content">
        <h5>Notre mission</h5>
        <p>
          Offrir à tous un accès à des solutions orthodontiques modernes et
          discrètes.
        </p>
      </div>
    </li>

    <li class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon">
        <div class="circle-cyan">
          <img src="../../../assets/images/icon/heart-solid.png" alt="" />
        </div>
      </div>
      <div class="content">
        <h5>Notre technologie </h5>
        <p>
          Nos aligneurs, précis et durables, sont fabriqués avec une technologie
          3D avancée.
        </p>
      </div>
    </li>

    <li class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon">
        <div class="circle-cyan">
          <img src="../../../assets/images/icon/users-solid.png" alt="" />
        </div>
      </div>
      <div class="content">
        <h5>Nos valeurs </h5>
        <p>Innovation, Confiance et accessibilité.</p>
      </div>
    </li>
  </ul>
</div>
