<footer class="footer-section">
  <div class="container-fluid row">
    <div class="company col-lg-4 col-md-6 col-sm-12">
      <img src="../../../../assets/images/logo2.png" alt="" />
      <p>
        Access Aligner est une solution d'alignement <br />
        dentaire invisible
      </p>

      <ul class="social">
        <li>
          <a
            target="_blank"
            href="https://www.facebook.com/access.aligner.tunisia"
          >
            <img src="../assets/images/icon/instagram.png" alt="" />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/access_aligner/"
            ><img src="../assets/images/icon/facebook.png" alt=""
          /></a>
        </li>
      </ul>
    </div>

    <div class="info col-lg-4 col-md-6 col-sm-12">
      <h6>Infolettre</h6>
      <form action="submit">
        <input type="text" placeholder="Entrez votre email" />
        <button class="button dark-button">Envoyer</button>
      </form>
    </div>

    <div class="links col-lg-2 col-md-6 col-sm-12">
      <ul>
        <li><h6>Explorer</h6></li>
        <li><a [routerLink]="['/home']">Accueil</a></li>
        <li><a [routerLink]="['/about']">À propos de nous</a></li>
        <li><a [routerLink]="['/aligners']">Expertise</a></li>
        <li><a [routerLink]="['/why']">Nos Aligneurs</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
        <li><a [routerLink]="['/blog']">Blog</a></li>
      </ul>
    </div>

    <div class="contact col-lg-2 col-md-6 col-sm-12">
      <ul>
        <li><h6>Contact</h6></li>
        <li><a target="_blank" href="tel:+21650747433"> +216 50 747 433</a></li>
        <li>
          <a href="mailto:contact&#64;accessaligner.com"
            >contact&#64;accessaligner.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="line"></div>

  <div class="copyright">
    <p>
      © Copyright 2024
      <a href="https://artemico.com" target="_blank"> by Artemico.com</a>
    </p>
  </div>
</footer>
