<div class="who-as-section">
  <div class="title">
    <h3>Qui sommes-nous ?</h3>
    <p>
      Access Aligner propose des aligneurs transparents sur mesure pour une
      correction orthodontique efficace, esthétique et confortable. Grâce à une
      technologie de pointe et à des professionnels qualifiés, nous garantissons
      des résultats durables et une expérience patient optimale pour un sourire
      éclatant.
    </p>
  </div>
  <div class="row">
    <div class="image-container col-lg-4 col-md-4 col-sm-12"></div>
    <div class="content-container col-lg-8 col-md-8 col-sm-12">
      <div class="title">
        <h3>Qui sommes-nous ?</h3>
        <p>
          Access Aligner propose des aligneurs transparents sur mesure pour une
          correction orthodontique efficace, esthétique et confortable. Grâce à
          une technologie de pointe et à des professionnels qualifiés, nous
          garantissons des résultats durables et une expérience patient optimale
          pour un sourire éclatant.
        </p>
      </div>
      <ul>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <div class="content">
            <h5>Qualité garantie</h5>
            <p>
              Nous utilisons des matériaux de haute qualité pour un alignement
              précis et durable. Ils assurent confort et discrétion tout au long
              du traitement.
            </p>
          </div>
        </li>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <div class="content">
            <h5>Personnalisation</h5>
            <p>
              Chaque traitement est personnalisé, car chaque sourire est unique.
              Nous offrons des solutions sur mesure pour chaque patient.
            </p>
          </div>
        </li>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <div class="content">
            <h5>Innovation</h5>
            <p>
              Une technologie avancée qui s’adapte à vos besoins, garantissant
              des résultats précis et une expérience optimale à chaque étape.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
