<section class="work-section">
  <div class=" ">
    <h3>Comment ça marche ?</h3>
    <ul class="steps row">
      <li class="col-lg-4 col-sm-12">
        <div class="step">
          <div class="circle-gray">
            <span>01</span>
          </div>
        </div>
        <h5>Empreinte Numérique</h5>
        <p>
          Modélisation virtuelle des divers plans de traitement orthodontique.
        </p>
      </li>

      <li class="col-lg-4 col-sm-12">
        <div class="step">
          <div class="circle-gray">
            <span>02</span>
          </div>
        </div>
        <h5>Etude De Cas</h5>
        <p>
          Nous vous proposons une étude gratuite incluant des vidéos des
          mouvements de vos dents.
        </p>
      </li>

      <li class="col-lg-4 col-sm-12">
        <div class="step">
          <div class="circle-gray">
            <span>03</span>
          </div>
        </div>
        <h5>Livraison</h5>
        <p>
          Notre équipe travaille chaque jour pour garantir des livraisons
          rapides à nos praticiens.
        </p>
      </li>
    </ul>
    <button class="button light-button" [routerLink]="['/aligners']">
      En savoir plus
    </button>
  </div>
</section>
<img class="flech1" src="../../../assets/images/icon/flech1.png" alt="" />
<img class="flech2" src="../../../assets/images/icon/flech2.png" alt="" />
