<div class="expertis-section">
  <div class="row">
    <div class="wrapper col-lg-8 col-sm-12">
      <h2>Expertise en Aligneurs pour un Sourire Parfait</h2>
      <p>
        Bienvenue dans notre service Access Aligner, dédié à améliorer la
        qualité de votre sourire avec des traitements sur mesure. Notre équipe
        d'experts en orthodontie crée des plans personnalisés, assurant des
        résultats rapides, discrets et efficaces pour un sourire parfait.
      </p>
      <div class="image-container">
        <img src="../../../assets/images/expertis.png" alt="" srcset="" />
      </div>
      <p>
        Chez Access Aligner, chaque sourire est unique. Nous procédons à une
        évaluation détaillée de vos besoins spécifiques, puis élaborons des
        plans de traitement personnalisés. Grâce à des technologies de pointe et
        un suivi constant, nous assurons des résultats efficaces et garantissons
        votre entière satisfaction tout au long du processus.
      </p>
    </div>
    <div class="discover wrapper col-lg-4 col-sm-12">
      <h4>Découvrez Access Aligner</h4>
      <p>Un sourire transformé, avec discrétion et efficacité.</p>
      <ul>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Soins sur mesure</h5>
        </li>

        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Aligneurs invisibles</h5>
        </li>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Résultats rapides</h5>
        </li>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Suivi personnalisé</h5>
        </li>
        <li>
          <div class="icon">
            <div class="circle-cyan">
              <img src="../../../assets/images/icon/check.png" alt="" />
            </div>
          </div>
          <h5>Rendez-vous facile</h5>
        </li>
      </ul>
      <button
        class="button light-button"
        onclick="location.href='http://dashbaord.accessaligner.com./sign-in'"
      >
        Se connecter
      </button>
    </div>
  </div>
</div>
